body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}


.top-container {
      background-color: #CDF0EA;
      position: relative;
      padding-top: 100px;
}

.middle-container{
}

.bottom-container {

}

h1 {
    font-size: 5.625rem;
    color: #66BFBF;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}

h2 {
    font-size: 2.5rem;
    font-weight: normal;
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    color: #11199E;
    font-family: 'Montserrat', sans-serif;
}

.top-cloud{
    position: absolute;
    top: 30px;
    right: 100px;
}

.bottom-cloud{
    position: absolute;
}

.footer-link {
    color: #11199E;
}


.skill-row{
    text-align: left;
    line-height: 2;
    width: 50%;
    margin: 100px auto 100px auto;
}